<div ng-controller="rv.controllers.PTP">
    <div class="row">
        <div class="col-sm-3">
            <a href="" title="PTP" ng-click="editPTP(); $event.stopPropagation();"><h2 class="novoffset">PTP</h2></a>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-7">
                    <div ng-switch="server.state">
                        <span class="text-info" ng-switch-when="1" title="Init"><i class="icon-ellipsis-horizontal animated infinite flash"></i> Initializing ...</span>
                        <span class="text-danger" ng-switch-when="2" title="Faulty"><i class="icon-exclamation-sign"></i> Faulty</span>
                        <span class="text-danger" ng-switch-when="3" title="Disabled"><i class="icon-off"></i> Disabled</span>
                        <span class="text-info" ng-switch-when="4" title="Listening"><i class="icon-exclamation-sign"></i> Listening</span>
                        <span class="text-info" ng-switch-when="5" title="Pre-Master"><i class="icon-exclamation-sign"></i> Pre-Master</span>
                        <span class="text-success" ng-switch-when="6" title="Master"><i class="icon-ok"></i> Master</span>
                        <span class="text-danger" ng-switch-when="7" title="Passive"><i class="icon-exclamation-sign"></i> Passive</span>
                        <span class="text-danger" ng-switch-when="8" title="Uncalibrated"><i class="icon-exclamation-sign"></i> Uncalibrated</span>
                        <span class="" ng-switch-when="9" title="Slave"></i>
                            <ul class="list-unstyled novoffset">                                
                                <li title="Master"><span class="hidden-sm hidden-md"><label>Master</label> </span>{{server.masterIp}}</li>
                                <li title="Offset"><span class="hidden-sm hidden-md"><label>Offset</label> </span>{{server.offsetFromMaster}}µs</li>
                            </ul>
                        </span>
                        <span class="" ng-switch-default title="Unknown"><i class="icon-question-sign"></i> Status unknown</span>
                    </div>
                </div>
                <div class="col-sm-5" ng-if="server.state == 9">
                    <div class="flot" style="height: 40px; width: 60px;" flot-data="graphData" flot-options="graphOptions"
                        ng-init="graphOptions={yaxis: {show: false}, xaxis: {show: false}, grid: {margin: 0, minBorderMargin: 0, borderWidth: 0.1}}" ></div>
                </div>
            </div>
        </div>
    </div>
</div>
