<form class="container">
    <h1>Routing Matrix</h1>
    
    <p>Please select any of the listed inputs (or input groups) to assign them to the selected output/output group:</p>
    
    <div class="clearfix" style="background-color: #f5f5f5;">
        <div class="col-sm-4">
            <h2>Output(s)</h2>
            <h3>{{block|uppercase}}</h3>
            <div class="port-routing disabled" items="routing.outputs[block]" block="block" port="port" combine="combine"></div>
        </div>
        <div class="col-sm-8" style="border-left: 1px solid #ddd; background-color: white">
            <h2>Inputs</h2>
            <div class="rav-media" ng-repeat="(iblock, inputs) in routing.inputs">
                <h3>{{iblock|uppercase}}</h3>
                
            <div ng-repeat="i in []|range:countBlocks(iblock, combine)">
                    <div class="input-port" block="iblock" items="inputs" port="$index * combine" combine="combine" ng-click="selected(iblock, $index * combine, combine)"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</form>
